<!DOCTYPE html>
<html>
<head>
  <title>RailsDemo</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script>window.jQuery || document.write(<%= javascript_include_tag "jquery" 'data-turbolinks-track' => true %>)</script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.1/rails.min.js"></script>
  <script>$.rails || document.write(<%= javascript_include_tag "jquery_ujs" 'data-turbolinks-track' => true %>)</script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
